.Phonetic {
  line-height: 45px;
}

.Phonetic a {
  border: 1px solid rgb(221, 221, 221);
  border-radius: 30px;

  padding: 10px 20px;
  margin-right: 10px;

  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
  transition: 120ms ease-in-out;
  color: blue;
}

a:hover {
  background: rgb(223, 234, 247) 11.2%;
}

.Phonetic .text {
  opacity: 0.7;
  font-weight: bold;
}
